<html>
  {% include "header_login.html" %}
  <div class="wrapper">
    <section class="login-container">
      <div class="form-login">
        <div class="mt-30 mb-30 form-login__company-logo-wrapper">
          <img src="{{ context.resources_path }}images/logo_default.png" class="img-responsive form-login__company-logo ">
        </div>
        <div class="form-login__body">
          <div class="form-group">
            <p class="flash-messages flash-messages--error mb-20" style="display: {{ context.msg_status }}">{{ context.msg_content }}</p>
            <div>
              <div class="clear_span"></div>
              <button type="submit" class="btn btn-primary btn-block" name="submit" onclick="window.location='{{ context.link_hac }}'">{{ context.lang_login }}</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- {% include "footer.html" %} -->
</html>
